.hidden-block { position: static;}

/* popu up */

    #call-popup{ 
        .convert{display: flex; align-items: stretch; justify-content: center; max-width: 1190px; width: 100%; height: 595px;} 
        .left-side{ width: 50%;}
        .right-side{width: 50%; position: relative; display: flex; align-items: center; justify-content: center;
            form{ max-width: 360px;
                .contact-form-title{ width: 100%;
                    h5{ font-size: 36px; font-family: "ProximaNova", sans-serif; color: rgb(55, 55, 55); font-weight: bold; text-align: center; text-transform: uppercase; margin: 0;}
                }
                .contact-form-item{width: 100%;

                    input{width: 100%;  height: 56px; border: none; border-bottom: 1px solid red;}
                }
            }
        }
    }

/* popu down */
