.third-block{min-height: 1150px;background: url('../images/third-block-background.jpg') no-repeat; background-size: contein; background-position: 50% 150%;background-attachment: fixed; font-family: 'Helvetica'; font-weight: 500;
	.mbox{padding: 100px 0;
		.heading{padding-bottom: 100px; 
			h2{text-transform: uppercase; text-align: center; font-weight: 45px;}	
		}
		.advantages{display: flex;justify-content: space-between;
			.advantage{ width: 22%;text-align: center;
				img{}
				p{font-size: 14px; text-align: center; line-height: 1.2;}
			}
		}
	}
}