/*header*/
    header {
        .content { position: relative; width: 100%; background-image: url(../images/topBG.jpg); background-position: center center; background-size: cover; overflow: hidden; height: 100vh;
            &:after,
            &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url(../images/point.png); opacity: 0; transition:all 300ms 600ms;}
        }
        .title { color: #fff; position: absolute; z-index: 100; width: 100%; text-align: center; left: 0; top: 50%; transform: translateY(-46%); padding: 0 20px; opacity:0; transition:all 300ms 900ms;
            h1 { font: italic 900 90px/90px 'Helvetica'; text-transform: uppercase; }
            .txt{ font: italic 500 20px/24px 'Helvetica'; max-width: 500px; position: absolute;  padding: 0 20px;}
            .letf{ text-align: right;  right: calc(50% + 196px);  bottom: -102px;}
            .right{ text-align: left; left: calc(50% + 196px);    top: -114px; }
        }
        .logo { left: 0; top: 0; position: absolute;width: 100%; padding-left: 15px; z-index: 100;
            .logo-wrap{    max-width: 1774px;   margin: 0 auto;   padding-top: 40px; }
        }
        .elems { position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 50;
            .round { position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index:75;
                &:before,
                &:after { content: ''; position: absolute; border-width: 2px; border-color: rgba(255, 255, 255, 0.5); border-radius: 50%; display: block; left: 50%; top: 50%; transform: translate(-50%, -50%); transition:all 600ms 600ms;}
                &:before { width: 0; height:0; border-style: solid; }
                &:after { width: 0; height: 0; border-style: dotted; }
            }
            .red { width: 100%; position: absolute; height: 0; left: 0; top: 0;z-index: 50;transition:all 300ms 300ms;
                 background-image: url(../images/redBG2.png); background-repeat: no-repeat;background-position: center center; background-size: cover;
            }
            .gray { width: 100%; position: absolute; height: 0; left: 0; bottom: 0;z-index: 25;transition:all 300ms;
                background-image: url(../images/grayBG2.png); background-repeat: no-repeat;background-position: center center; background-size: cover;
            }
        }

        &.animated {
            .title{ opacity:1;}
            .content{
                &:after,
                &:before{ opacity:0.1;}
            }
            .elems{
                .round{
                    &:before { width: 650px; height: 650px; }
                    &:after { width: 1302px; height: 1302px; }
                }
                .red{height: 100%;}
                .gray{height: 100%;}
            }
        }
    }
/*END header*/
/*footer*/
    .footer{ width: 100%; background-color: #1b1b1b; text-align: center; height: 70px;     padding-top: 26px;
        .txt{font: 300 14px/18px 'Helvetica'; color: #fff; display: inline-block;}
    }
/*END footer*/
/*second*/
    .second-block{
        .title{ text-align: center; font: 300 18px/22px 'Helvetica'; color: #4d4d4d; position: relative; padding: 100px 20px 0;min-height: 527px;
            &:before,
            &:after{content: ''; position: absolute; top: 0; display: block; background-image: url(../images/secsac.png); width: 680px; height: 409px; background-size:cover;}
            &:before{ left: 0;}
            &:after{ right: 0; transform:scaleX(-1);}
            p{ margin: 0;}
            img{    margin-bottom: 47px;}

        }
        .block-wrap{padding-bottom: 520px; background-position: center bottom;background-attachment: fixed; background-repeat:no-repeat; background-size:cover;
            .block{   vertical-align: top; width: 50%; float: left;min-height: 800px; display: flex; align-items: center; }
            .left{ background-color: #fafafa; text-align: center; display: block; position: relative;
                img{ position: absolute; left: 0; top:50%; transform: translateY(-50%); width: 100%;}
            }
            .right{color: #787878; font: 300 16px/20px 'Helvetica'; background-image: url(../images/rightBG.jpg); padding: 0 65px;   margin-top: -100px; background-size:cover; position: relative;
                h5{ color: #3f3f3f; font: 700 36px/42px 'Helvetica'; margin-bottom: 25px; position: relative;
                    &:before{ position: absolute;content: ''; background-image: url(../images/vetka.png); width: 239px; height: 117px;     bottom: -103px; left: -178px;}
                }
                ul{list-style-type: disc; margin: 0; padding: 0;
                    li{ margin-bottom: 6px;}
                }
                .button{    padding: 27px 0;
                    a{ display: block; width: 255px; height: 55px; color: #646464; font: 700 14px/14px 'Helvetica'; box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75); text-align: center; text-transform: uppercase; background-color: #fff; text-decoration: none;    padding-top: 21px; transition: all 300ms;
                        &:hover{color: #fff; background-color: #646464;}
                    }
                }

            }
            .txt{max-width: 500px; }
            &.first{ background-image: url(../images/pfirst.jpg);}
            &.second{ background-image: url(../images/psecond.jpg);}
        }
        .mobile{ display: none;}
    }
/*END second*/