@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
	.four-block .wrapper .left-part .mbox{padding: 30px 10px 0px 30px;
		.info-conteiner{
			.heading{
				h2{ text-align:center;}
			}
		}
	}
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
	.four-block .wrapper .left-part{min-height: 800px;height: 800px;
		.mbox{padding: 30px 10px 0px 30px;
			.info-conteiner{
				.heading{
					h2{ font-size: 35px;}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){
	.third-block{ 
		.mbox{
			.advantages{flex-direction: column;  align-items: center; justify-content: center;
				.advantage{
					
				}
			}
		}
	}
	.four-block .wrapper .left-part{
		.mbox{padding: 20px 10px 0px 30px;
			.info-conteiner{
				.heading{
					h2{ font-size: 30px;}
				}
			}
		}
	}
}
@media screen and (max-width: 666px){
	.four-block .wrapper .left-part .mbox{padding: 20px 10px 0px 30px;
		 .info-conteiner .heading h2 {
			font-size: 20px;
		}
	}
}
@media screen and (max-width: 479px){
	.third-block .mbox .heading{
		h2{font-size: 35px; 
		}
	}
	.third-block .mbox .advantages .advantage{
		width: 40%;
	}
	.four-block .wrapper{ flex-direction: column;
		.left-part {width: 100%; min-height: 800px; height: 800px;
			.mbox{
				.info-conteiner{
				 	.heading{padding-right: 30px;
					 	h2 {
							font-size: 20px;
						}
					}
					.text-part{
						p{
							font-size: 14px;
						}
					}
				}
			}
		}
		.right-part{
			min-height: 400px; width: 100%; order: -1;
		}
	}
}
@media screen and (max-width: 320px){

}