@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){
    /*second*/
        .second-block {
            .title {
                &:before,
                &:after {  width: 340px; height: 205px; }
            }
        }
    /*END second*/
}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
/*header*/
        header {

            .title {
                .letf {  right:50%;  }
                .right {  left:50%; }
            }
        }
/*END header*/
    }
@media screen and (max-width: 992px){
    /*second*/
        .second-block {
            .title{padding: 100px 20px 40px;  min-height: 1px;}
            .desctop{ display: none!important;}
            .mobile{ display: inline!important;}
            .block-wrap{padding-bottom: 200px;
                .block{ display: block;   width: 100%; float: none; text-align: center; padding: 0 20px;}

                .right{ padding:20px;   margin-top: 0; min-height: none;
                    h5{
                        &:before { display: none;}
                    }
                    .button{
                        a{ margin: 0 auto;}
                    }
                }
                .txt{max-width: 500px; display: inline-block; text-align: left;}
            }
        }
    /*END second*/
}
@media screen and (max-width: 767px){
    /*header*/
    header {
        .content{    min-height: 662px;}
        .title {
            h1{font: italic 900 50px/60px 'Helvetica';}
            .letf {  right:0;     bottom: -150px;}
            .right {  left:0;}
        }

        &.animated {

            .elems{
                .round{
                    &:before { width: 350px; height: 350px; }
                    &:after { width: 600px; height: 600px; }
                }

            }
        }
    }
    /*END header*/
}
@media screen and (max-width: 666px){
    /*second*/
        .second-block {
            .block-wrap{     background-position: 60% 284px; background-attachment:inherit; background-size:inherit;}
            .title {padding: 32px 20px 40px;
                &:before,
                &:after { display: none;}
            }
        }
    /*END second*/
}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}