/*header*/
    header {
        .content { position: relative; width: 100%; background-image: url(../images/topBG.jpg); background-position: center top; background-size: cover; overflow: hidden; min-height: 1025px;
            &:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url(../images/point.png); opacity: 0; transition:all 300ms 600ms;}
        }
        .title { color: #fff; position: absolute; z-index: 100; width: 100%; text-align: center; left: 0; top: 50%; transform: translateY(-46%); padding: 0 20px;
            h1 { font: italic 900 90px/90px 'Helvetica'; text-transform: uppercase; }
            .txt { font: italic 500 20px/24px 'Helvetica'; max-width: 500px; position: absolute;  padding: 0 20px;}
            .letf { text-align: right;     right: calc(50% + 196px);  bottom: -102px;}
            .right { text-align: left;     left: calc(50% + 196px);    top: -114px; }
        }
        .logo { left: 0; top: 0; position: absolute;width: 100%; padding-left: 15px; z-index: 100;
            .logo-wrap{    max-width: 1774px;   margin: 0 auto;   padding-top: 40px; }
        }
        .elems { position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 50;
            .round { position: absolute; left: 0; top: 0; height: 100%; width: 100%;
                &:before,
                &:after { content: ''; position: absolute; border-width: 2px; border-color: rgba(255, 255, 255, 0.5); border-radius: 50%; display: block; left: 50%; top: 50%; transform: translate(-50%, -50%); transition:all 300ms 600ms;}
                &:before { width: 0; height:0; border-style: solid; }
                &:after { width: 0; height: 0; border-style: dotted; }
            }
            .red { width: 546px; overflow: hidden; transform: rotate(25deg) translateX(-50%); position: absolute; height: 200%; top: -50%; left: 50%;
                .box { background-image: url(../images/redbg.png); height: 0; top: 0; opacity:0.8; transition:all 300ms 300ms; }
            }
            .gray { position: absolute; height: 200%; bottom: -50%; transform: rotate(25deg) translateX(-50%); width: 601px;left: 50%;
                .box { width: 601px; background-color: rgba(255, 255, 255, 0.05); height: 0; position: absolute;bottom: 0;transition:all 300ms;}
                .one{    left: calc(50% - 275px);}
                .two{    right: calc(50% - 280px);}
            }
        }

        &.animated {
            .content{
                &:before{ opacity:0.3;}
            }
            .elems{
                .round{
                    &:before { width: 650px; height: 650px; }
                    &:after { width: 1302px; height: 1302px; }
                }
                .red{
                    .box{height: 100%;}
                }
                .gray{
                    .box{ height: 100%;}
                }
            }
        }
    }
/*END header*/
/*footer*/
    .footer{ width: 100%; background-color: #1b1b1b; text-align: center; height: 70px;     padding-top: 26px;
        .txt{font: 300 14px/18px 'Helvetica'; color: #fff; display: inline-block;}
    }
/*END footer*/