<article class="four-block" id="four-block">
	<div class="wrapper">
		<div class="left-part">
			<img src="images/four-block-mountain.png" class="four-mountains">
			<div class="mbox">
				<div class="info-conteiner">
					<div class="heading">
						<h2>Схема продажи ТС на «Tokyomotors» аукционе:</h2>
					</div>
					<div class="text-part">
						<p>Схема аукциона в режиме он-лайн понятна и проста. Лот видят все участники, подключенные к «Токиомоторс», конкуренция предполагает увеличение цены за выбранную машину или мотоцикл. В результате лот получает максимально выгодную цену. В аукционе могут участвовать физические лица, ИП, ООО, крупные дилеры.

						Владелец ТС приезжает к нам по предварительной записи. Мы осматриваем ТС, выявляем все, что важно для наших партнеров. Вся информация выносится на портал и на торги. Все партнеры получают оповещение. Они делают ставки. Аукцион завершается на наивысшей ставке. Если клиент согласен продать по такой цене, компания составляет договор купли-продажи и рассчитывается с клиентом сразу же. Парнер, купивший лот осматривает автомобиль, проверяет свои данные в договоре и получает его.

						В случае, если наивысшая ставка не устроит владельца ТС, то лот имеет смысл отправить на длительный аукцион, который будет активен на аукционе в течении 2 дней, если не продается с двухдневного аукциона, он попадает в сток, где устанавливается фиксированная цена, за которую собственник готов продать ТС.</p>
					</div>
				</div>
			</div>
		</div>	
		<div class="right-part"></div>

	</div>
</article>