<!-- HEADER -->
<header>
    <div class="content">
        <div class="title">
            <div class="txt letf">Tokyomotors аукцион - это крупная торговая площадка в сети интернет, где осуществляется продажа самых разнообразных Транспортных Средств по выгодным ценам.</div>
            <h1>Онлайн аукцион</h1>
            <div class="right txt">Tokyomotors аукцион предлагает
                огромный выбор бывших в употреблении
                автомобилей и мотоциклов различных марок и моделей.</div>
        </div>
        <div class="logo"><div class="logo-wrap"><img src="images/logo.png" alt=""></div></div>
        <div class="elems">
            <div class="round"></div>
            <div class="red"><div class="box"></div></div>
            <div class="gray">
                <div class="box one"></div>
                <div class="box two"></div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

