<!-- HEADER -->
<header>
    <div class="content">
        <div class="title">
            <div class="txt letf">Tokyomotors аукцион - это крупная торговая площадка в сети интернет, где осуществляется продажа самых разнообразных Транспортных Средств по выгодным ценам.</div>
            <h1>Онлайн аукцион</h1>
            <div class="right txt">Tokyomotors аукцион предлагает
                огромный выбор бывших в употреблении
                автомобилей и мотоциклов различных марок и моделей.</div>
        </div>
        <div class="logo"><img src="images/logo.png" alt=""></div>
    </div>
</header>
<!-- /HEADER -->

