<section class="second-block">
    <div class="title">
        <img src="images/secondit.png" alt="">
        <span class="desctop">
            <p>Здесь вы можете воспользоваться удобным онлайн аукционном  и оперативно продать свой</p><p> автомобиль или мотоцикл. Мы гарантируем высокое качество всех услуг, так как </p><p>работаем с добросовестными партнерами по всей России и Мире,</p><p>по абсолютно прозрачной схеме</p>
        </span>
        <span class="mobile">
            <p>Здесь вы можете воспользоваться удобным онлайн аукционном  и оперативно продать свой автомобиль или мотоцикл. Мы гарантируем высокое качество всех услуг, так как работаем с добросовестными партнерами по всей России и Мире,по абсолютно прозрачной схеме</p>
        </span>
    </div>
    <div class="block-wrap first cfix">
        <div class="block left desctop">
            <img src="images/ifirst.jpg" alt="">
        </div>
        <div class="block right">
            <div class="txt">
                <div class="mobile img"><img src="images/ifirst.png" alt=""></div>
                <h5>Продать автомобиль или мотоцикл:</h5>
                <ul>
                    <li>Вы приезжаете к нам на аукцион или же к Вам выезжает
                        наш специалист.</li>
                    <li>Проводим бесплатную диагностику.</li>
                    <li>Выкладываем ваше предложение на аукцион</li>
                    <li>По окончании аукциона мы называем    Вам максимально предложенную ставку.</li>
                    <li>Мы готовим договор, подписываем и оплачиваем
                        стоимость автомобиля или мотоцикла.</li>
                </ul>
                <div class="button"><a href="#">ПРОДАТЬ</a></div>
            </div>

        </div>
    </div>
    <div class="block-wrap second cfix">
        <div class="block left desctop ">
            <img src="images/isecond.jpg" alt="">
        </div>
        <div class="block right">
            <div class="txt">
                <div class="mobile img"><img src="images/isecond.png" alt=""></div>
                <h5>Для партнеров:</h5>
                <ul>
                    <li> Вы регистрируетесь.</li>
                    <li> Вносите депозит.</li>
                    <li> Участвуете в онлайн торгах.</li>
                    <li> Выигрываете лот, мы приобретаем его    на Ваше имя по договору купли-продажи.</li>
                    <li> Получаете автомобиль в Москве либо мы    отправляем его любым способом, в указанный Вами регион.</li>
                    <li> Вы получаете желаемый автомобиль, в максимально
                        возможные сроки, по выгодной цене, с прозрачной историей.</li>
                </ul>
                <div class="button"><a href="#">Стать партнером</a></div>
            </div>


        </div>
    </div>
</section>