<section class="third-block" id="third-block">
	<div class="mbox">	
		<div class="wrapper">
			<div class="heading">
				<h2>преимущества</h2>			
			</div>
			<div class="advantages">
				<div class="advantage">
					<img src="images/3-block-wallet.png">
					<p>Продажа и покупка ТС по выгодным ценам </p>
				</div>

				<div class="advantage">
					<img src="images/3-block-car.png">
					<p>Огромный выбор ТС различных марок и моделей </p>
				</div>

				<div class="advantage">
					<img src="images/3-block-thumb-up.png">
					<p>Удобство и оперативность</p>
				</div>

				<div class="advantage">
					<img src="images/3-block-badg.png">
					<p>Гарантия безопасности</p>
				</div>
			</div>
		</div>
	</div>

</section>